/**
 * Form API.
 */

form {
  position: relative;
}
input, select, textarea {
  font-family: $source-sans-pro-font;
}
label {
  margin-bottom: 3px;
}
textarea,
input.form-text {
  @include rounded-box(2px);
  border: 1px solid $grey-level-7;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 75/1000);
  color: $grey-level-2;
  display: inline-block;
  padding: 5px 6px;
  max-width: 100%;
}
.form-textarea-wrapper textarea {
  height: auto;
}
select {
  border: 1px solid $grey-level-7;
  @include rounded-box(2px);
  color: $grey-level-2;
  padding: 4px 6px;
}
textarea:focus,
input.form-text:focus,
select:focus {
  border: 1px solid $grey-level-6;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 25/100);
  outline: 0;
}
.form-type-checkbox {
  margin-bottom: 15px;
}
input.form-submit {
  background: $greenlight;
  border-bottom: 2px solid $greendark;
  @include rounded-box(2px);
  color: white;
  margin-right: 15px;
  padding: 4px 10px;
  &:hover, &:focus {@include background-image(linear-gradient(bottom, #0fcf92 0%, #18dd9e 100%));}
  &:active {background:$greendark;}
}
.form-submit:not(.js-hide) + .form-submit, .views-admin a.button:not(.js-hide) + a.button {
  margin-left: 0;
}
fieldset {
  margin-bottom: 20px;
  legend {
    @include rounded-box-partial(4px 4px 0 0);
    background: $grey-level-9;
    padding: 15px 20px;
    text-transform: uppercase;
    width: 100%;
    @include borderbox;
  }
  .fieldset-wrapper {
    @include rounded-box-partial(0 0 4px 4px);
    background: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1/10);
    padding: 20px;
    .fieldset-description {
      font-style: italic;
      margin-bottom: 15px;
    }

    .fieldset-wrapper {
      @include rounded-box(0);
      box-shadow: none;
      padding: 0;
    }
  }
}
html.js fieldset.collapsed {
  height: auto;
}
html.js fieldset.collapsible .fieldset-legend {
  background-position: right;
  display: inline;
  padding: 0 8px 0 0;
}
.exposed-filters .form-item {
  margin: 0 0 15px 0;
}
.exposed-filters .filters {
  margin-right: 20px;
  width: auto;
}
.filter-wrapper {
  padding: 0 0 15px;
}
.form-item {
  @include rounded-box(4px);
  background: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1/10);
  margin: 0 0 20px 0;
  padding: 20px;
  .description {
    margin-top: 5px;
  }
}
fieldset .form-item, #sidebar .form-item, .no_fieldset .form-item, td .form-item, .form-item .form-item {
  @include rounded-box(0);
  background: none;
  box-shadow: none;
  margin: 0 0 15px 0;
  padding: 0;
  &:last-child {margin-bottom: 0;}
  &:first-child {margin-bottom: 15px;}
}

.container-inline .form-item {
  margin: 0 15px 15px 0;
  @include inlineblock;
}
.views-admin fieldset fieldset.container-inline {
  margin: 0;
}

.no_fieldset, .node-type-list {
  @include nofieldset();
}

.text-format-wrapper .description {
  color: $grey-level-3;
  font-size: .9em;
  margin: -18px 0 20px 0;
}
html.js input.form-autocomplete {
  background-position: 100% 8px;
}

.dependent-options {
  border-left: 1px solid $grey-level-9;
  margin-left: 0;
  padding-left: 18px;
}