table {
  @include rounded-box(4px);
  background: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1/10);
  margin-bottom: 20px;
  width: 100%;

th {
  border-bottom: 0;
  font-weight: 300;
  text-transform: uppercase;
  padding: 15px;
  &:first-child {
    @include rounded-box-partial(2px 0 0 0);
    padding-left: 20px;
  }
  &:last-child {
    @include rounded-box-partial(0 2px 0 0);
    padding-right: 20px;
  }
  img {
    height: auto;
    margin-left: 5px;
    vertical-align: 1px;
    width: 8px;
  }
  a {
    text-decoration: underline;
  }
}

  thead {
    background: $bluegrey;

    th {
      color: white;

      a {
        color: white;
      }
    }
  }

tbody {
  border: 0;
  th {
    color: $grey-level-3;
  }
  tr, tr.even, tr.odd {
    border-bottom: 1px solid $grey-level-10;
    &:last-child {
      border-bottom: 0;
    }
  }
  td {
    padding: 15px;
    select {
      margin-bottom: 0;
    }
    &:first-child {
      padding-left: 20px;
    }
    &:last-child {
      padding-right: 20px;
    }
    &.active {
      background: #ebf5fd;
    }
  }
  }
}

form .field-multiple-table th.field-label:first-child {
  padding-left: 20px;
}
.region-title, #permissions td.module {
  background: $bluelight;
}
.tabledrag-toggle-weight-wrapper {
  display: none;
}
.sticky-header {
  z-index: 100;
}

/*reports*/
.warning, .ok, .error {
  color: $grey-level-3;
}
table.system-status-report td {
  padding: 15px;
}
table.system-status-report td.status-icon {
  padding-left: 0;
  width: 0;
  div {
    height: 0;
    width: 0;
  }
}
table.system-status-report tr.merge-up td {
  padding: 0 15px 15px 15px;
}